@tailwind base;
@tailwind components;
@tailwind utilities;

.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 0.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* LAYOUT */

/* END OF LAYOUT */

h1 {
  @apply text-4xl sm:text-6xl font-bold;
}

.page-hero {
  @apply mt-8 grid grid-rows-2 lg:grid-cols-2 lg:gap-x-6;
}
